{% extends "base.html" %}
{% load static %}
{% block page_content %}

<center><h1>My Portfolio</h1></center>
<center>Email: s10182081@connect.np.edu.sg</br>
LinkedIn: https://www.linkedin.com/in/gerald-ng-879260142/
Site: https://geraldngkangjie98.wixsite.com/mysite</center>

<hr>
<h2>Introduction</h2>
<p>
Hello there! Welcome to my portfolio. My name is Gerald Ng, currently year 3
in schoool of IT at Ngee Ann Polytechnic. I am currently pursuing in diploma of
Information Technology.
</p>
<hr>
<h2>Education</h2>
<p>
2017 – Present Pursuing a Diploma in Information Technology, Ngee Ann Polytechnic</br>
2015 - 2017 Higher NITEC in Information Technology, ITE College West</br>
2011 – 2014 GCE ‘Normal (Academic)’ Level, Fuhua Secondary School 
</p>
<hr>
<h2>Work Experience</h2>
<p>
<b>Crimson Logic PTE LTD</b> &emsp;<i>Mar 2019 - Aug 2019</i></br>
Internship</br>
•	Documentation of project for client usage</br>
•	Dashboard project for company display</br>
•	Proposal preparation for company mobile application development</br>
•	Performance dashboard creation for department performance tracking</br>
</br>
<b>JD Sports Store </b> &emsp;<i>Sept 2018 - Dec 2018</i></br>
Part Time Sales Associate</br>
•	Replenish stocks, organize inventory with accuracy and efficiency</br>
•	Provide customer service to ensure customer satisfaction</br>
•	Increase sales through upselling techniques</br>
•	Show product knowledge of design and materials of shoes</br>
•	Respond to inquiries and finding products</br>
</br>
<b>JAsia Pacific Sport’s Management PTE LTD</b> &emsp;<i>June 2016 - Dec 2018</i></br>
Basketball Coach at Canadian International School (Lakeside Campus)</br>
•	Teach skills and moves of the sport to students of the school</br>
•	Ensure well-being of the group by giving breaks in between sessions and constantly checking on the students</br>
•	Instill discipline and fun into the group through drills and games</br>

</br>
<b>Hitachi Sunway Network’s Solution PTE LTD</b> &emsp;<i>Jan 2017 - Mar 2017</i></br>
Internship</br>
•	Monitored and managed office network</br>
•	Responded to customer’s inquiries</br>
•	Managed customer and client relations</br>
•	Aided in the encrypting and decrypting of client’s laptops</br>
•	Set up laptops for client companies</br>
</br>
<b>Garrett's Popcorn</b> &emsp;<i>Nov 2016 - Jan 2017</i></br>
Part Time F&B Attendant</br>
•	Attended to customer’s Inquiries</br>
•	Gave out samples to customers</br>
•	Promoted and sold popcorn</br>
•	Packed popcorn upon customer’s request</br>
</br>
<b>LF Logistics PTE LTD</b> &emsp;<i>Oct 2014 - Dec 2014</i></br>
Part Time Warehouse Assistant</br>
•	Picked and packed shoes and apparels</br>
•	Sorted shoes and apparels accordingly</br>
•	Checked for defects in shoes and apparels</br>
•	Loading and unloading of shoes and apparels</br>
•	Led team in completing tasks efficiently and effectively</br>
</br>
</p>

<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary" name="test">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
